USE [master]
GO
/****** Object:  Database [Pokemon]    Script Date: 10/6/2021 16:13:52 ******/
CREATE DATABASE [Pokemon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pokemon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Pokemon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pokemon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Pokemon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pokemon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pokemon]
GO
/****** Object:  Table [dbo].[Evoluciones]    Script Date: 10/6/2021 16:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evoluciones](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PokemonBaseId] [bigint] NOT NULL,
	[PokemonEvolucionId] [bigint] NOT NULL,
	[NivelEvolucion] [int] NOT NULL,
 CONSTRAINT [PK_Evoluciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilidades]    Script Date: 10/6/2021 16:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidades](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[NivelAprendizaje] [int] NOT NULL,
	[Ataque] [int] NOT NULL,
	[Defensa] [int] NOT NULL,
 CONSTRAINT [PK_Habilidades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabilidadesPokemon]    Script Date: 10/6/2021 16:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabilidadesPokemon](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PokemonId] [bigint] NOT NULL,
	[HabilidadId] [bigint] NOT NULL,
 CONSTRAINT [PK_HabilidadesPokemon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemones]    Script Date: 10/6/2021 16:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemones](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[NivelEncuentro] [int] NULL,
 CONSTRAINT [PK_Pokemones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos]    Script Date: 10/6/2021 16:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](10) NULL,
 CONSTRAINT [PK_Tipos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposPokemon]    Script Date: 10/6/2021 16:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposPokemon](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PokemonId] [bigint] NOT NULL,
	[TipoId] [bigint] NOT NULL,
 CONSTRAINT [PK_TiposPokemon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evoluciones]  WITH CHECK ADD  CONSTRAINT [FK_Evoluciones_Evoluciones_PokemonEvolucionId] FOREIGN KEY([PokemonEvolucionId])
REFERENCES [dbo].[Pokemones] ([Id])
GO
ALTER TABLE [dbo].[Evoluciones] CHECK CONSTRAINT [FK_Evoluciones_Evoluciones_PokemonEvolucionId]
GO
ALTER TABLE [dbo].[Evoluciones]  WITH CHECK ADD  CONSTRAINT [FK_Evoluciones_Pokemones_PokemonBaseId] FOREIGN KEY([PokemonBaseId])
REFERENCES [dbo].[Pokemones] ([Id])
GO
ALTER TABLE [dbo].[Evoluciones] CHECK CONSTRAINT [FK_Evoluciones_Pokemones_PokemonBaseId]
GO
ALTER TABLE [dbo].[HabilidadesPokemon]  WITH CHECK ADD  CONSTRAINT [FK_HabilidadesPokemon_Habilidades] FOREIGN KEY([HabilidadId])
REFERENCES [dbo].[Habilidades] ([Id])
GO
ALTER TABLE [dbo].[HabilidadesPokemon] CHECK CONSTRAINT [FK_HabilidadesPokemon_Habilidades]
GO
ALTER TABLE [dbo].[HabilidadesPokemon]  WITH CHECK ADD  CONSTRAINT [FK_HabilidadesPokemon_Pokemon] FOREIGN KEY([PokemonId])
REFERENCES [dbo].[Pokemones] ([Id])
GO
ALTER TABLE [dbo].[HabilidadesPokemon] CHECK CONSTRAINT [FK_HabilidadesPokemon_Pokemon]
GO
ALTER TABLE [dbo].[TiposPokemon]  WITH CHECK ADD  CONSTRAINT [FK_TiposPokemon_Pokemones] FOREIGN KEY([PokemonId])
REFERENCES [dbo].[Pokemones] ([Id])
GO
ALTER TABLE [dbo].[TiposPokemon] CHECK CONSTRAINT [FK_TiposPokemon_Pokemones]
GO
ALTER TABLE [dbo].[TiposPokemon]  WITH CHECK ADD  CONSTRAINT [FK_TiposPokemon_Tipos] FOREIGN KEY([TipoId])
REFERENCES [dbo].[Tipos] ([Id])
GO
ALTER TABLE [dbo].[TiposPokemon] CHECK CONSTRAINT [FK_TiposPokemon_Tipos]
GO
USE [master]
GO
